.button {
    margin: 1rem !important;
    height: 4rem !important;
    width: 4rem !important;
    transition: all .3s ease-in;
}

.button:hover {
    background-color: #fff !important;
    color: #f03a5f !important;
    border: 1px solid #f03a5f !important;
    transition: all .3s ease-out;
}

@media (min-width:769px) {
    .button {
        height: 3rem !important;
        width: 3rem !important;
    }
}